/************** System-Wide Styles **********/

:root {
    --gray: #F5F5F3;
    --mid-gray: #e0e0DD;
    --dark-gray: #b6b6b6;
    --blue: #2454FF;
    --white: #FFFFFF;
    --black: #000;
    --near-black: #444444;
    --green: #00A95C;
    --purple: #BE53F7;
    --orange: #FF6C2F;
    --gold: #B97000;
    --pink: #E44C9A;
    --lime: #def766;
    
    
    
    /* changes to major guide colors can be made here */
    
    --tab-color: #F5F5F3;
    --tab-borders: #c1c1c1;
    --tab-active: var(--blue);
    --subtab-border: var(--dark-gray);
    --subtab-text: black;;
    --box-heading: var(--black);
    --link: var(--blue);
    --link-hover: black;
    --guide-title: black;
    --body-text: var(--near-black);
    
    --font-primary: 'RISD Sans', Arial, Helvetica, sans-serif;
    --font-secondary: 'RISD Serif Complete', serif;
    --font-accent: 'RISD Serif SemiComplete', 'Georgia', serif;
}

/* Global Typography */

@font-face {
    font-family: "RISD Sans";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans_Variable.woff2') format("woff2-variations");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Sans";
    font-weight: 700;
    font-display: fallback;
    src: url('//www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Bold.woff') format("woff");
}

@font-face {
    font-family: "RISD Sans";
    font-style: italic;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Sans-Regular_Italic.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete_Variable.woff2') format("woff2-variations");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Complete";
    font-style: italic;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Complete-Light_Italic.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif SemiComplete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif SemiComplete";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Light.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Semibold.woff2) format("woff2");
    src: url(http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2) format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_SemiComplete-Bold.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Semicomplete";
    font-style: italic;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Semi-Complete_Italic_Variable.woff2') format("woff2");
}

@font-face {
    font-family: "RISD Serif Incomplete";
    font-style: normal;
    font-weight: 100;
    font-display: fallback;
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Incomplete-Light.woff2') format("woff2");
    src: url('http://www.risd.edu/themes/custom/risd_base_theme/dist/fonts/RISD_Serif_Incomplete_Variable.woff2') format("woff2");
}

h1{
    font-family: var(--font-secondary);
    font-weight: 100;
}

h2 {
    font-family: var(--font-secondary) !important;
    font-weight: 100 !important;
}

h3 {
    font-family: var(--font-secondary) !important;
    font-weight: 100 !important;
    margin-top: 0;
}

h4, h5, h6 {
    font-family: var(--font-primary) !important;
    font-weight: 700;
}

body {
    font-family: var(--font-primary) !important;
    font-size: 14px;
    padding: 0px !important;
}

a, a:visited {
    font-family: inherit;
    color: var(--blue);
    text-decoration: none;
}

a:hover, a:focus, a:visited:hover {
    color: var(--blue);
    text-decoration: underline;
}

.nav .fa-external-link {
    font-size: 12px !important;
    color: var(--black);
}


/*-----------------------------------------HEADER-----------------------------------------*/

.header {
    background-color: var(--white);
    width: 100%;
}

.nav-ul {
    width: 100%;
    display: flex !important;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2.5rem;
    margin-bottom: 2px;
}

.nav-li {
    float: none !important;
    padding: 10px;
}

.nav-ul #lockup {
    margin-right: auto !important; /* float links to right of lockup */
}

.nav-ul #lockup img {
    max-height: 60px;
    width: auto;
}

.nav-li a {
    font-family: var(--font-primary);
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
}

.header li:hover,
.header li:focus {
    background: var(--blue);
    text-decoration: none !important;
}

.nav-li:hover a  {
    color: var(--white);
    text-decoration: none !important;
}

#lockup:hover,
#lockup:focus {
    background: transparent;
}

.nav-ul #more-menu, #mobile-menu {
    padding: 0px;
    margin-right: 10px;
}

.nav-ul #more-menu .menu-ul.open,
.nav-ul #more-menu:focus-within .menu-ul {
    display: block;
}

.nav-ul #more-menu:hover svg,
.nav-ul #more-menu .menu-ul.open svg,
.nav-ul #more-menu:focus-within svg {
    color: var(--white) !important;
}


/* Hide mobile menu by default */
.nav-ul > #mobile-menu {
    display: none;
}

.nav-ul #login-drop {
    display: none;
}


.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.desktop-icon, .mobile-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    color: var(--blue);
}

/* Toggle menu */
#menu-toggle, #mobile-toggle {
    cursor: pointer;
    padding: 10px 14px;
    background: var(--white);
    border: none;
    margin: 0;
}

#menu-toggle:hover, #menu-toggle:focus,
#mobile-toggle:hover, #mobile-toggle:focus {
    background: var(--blue);
    color: var(--white);
}

/* menu list hidden by default, visible when open */
#menu-list, #mobile-menu-list {
    list-style: none !important;
    margin: 8px 0 0 0;
    padding: 0;
    background: var(--white);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    position: absolute;
    right: 0;
    min-width: 220px;
    z-index: 1000;
    display: none;
}

#menu-list.open, #mobile-menu-list.open {
    display: block;
}

#more-menu, #mobile-menu {
    position: relative;
}

#menu-list, #mobile-menu-list {
    left: auto;
    right: 0;
    max-width: calc(100vw - 32px);
    box-sizing: border-box;
}

#more-menu .menu-ul li a {
    display: block;
    padding: 10px 16px;
    color: var(--black);
    text-decoration: none;
}

#more-menu .menu-ul li a:hover {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
}

#more-menu details:not([open]) .menu-list {
    display: none;
}


@media (max-width: 1199.98px){
    .nav-ul > li {
        display: none;
    }
    
    .nav-ul > .no-hide {
        display: list-item;
    }
    
    .nav-ul > #mobile-menu {
        display: list-item;
        padding: 0;
    }
    
    .nav-ul {
        justify-content: flex-end;
        align-items: center;
    }
    
    #mobile-menu details {
        position: relative;
    }
    
    #mobile-menu .mobile-menu-btn {
        cursor: pointer;
    }
    
    #mobile-menu-list ul,
    #mobile-menu-list ul li {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }   
    
    #mobile-menu .mobile-menu-list li a {
        display: block;
        padding: 10px 16px;
        color: var(--black);
        text-decoration: none;
    }
    
    #mobile-menu .mobile-menu-list li a:hover {
        background-color: var(--blue);
        color: var(--white);
        text-decoration: none;
    }
    
    /* Hide the menu on close */
    #mobile-menu details:not([open]) .mobile-menu-list {
        display: none;
    }
}

@media (max-width: 767.98px) {

    .nav-ul #login-drop {
        display: block;
    }

    .nav-ul #login-nav {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .nav-ul #lockup img {
        max-height: 36px;
        width: auto;
        height: auto;
        display: block;
    }
}


/*------------------------------------------------FOOTER-----------------------------------------*/

.footer-risd {
    padding: 40px;
    background-color: var(--black);
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.footer-risd, .footer-risd a {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: 14px;
}

.footer-risd a {
    text-decoration: underline var(--white);
    text-underline-offset: 2px;
}

.footer-risd a:hover {
    color: var(--white);
    text-decoration: none;
}

.risd-seal a {
    text-decoration: none;
}

.footer-risd .risd-seal img,
.footer-risd .risd-seal svg {
    width: 116px;
    padding: 0px 5px 5px 0px;
}

.footer-risd .footerlinks {
    display: flex;
}

.footer-risd .footerlinks .col-xs-2 {
    flex: 0 0 116px;
    
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

/*----FOOTER SEARCH BOX----*/

#footer-search form {
    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
}

#footer-search input.s-lg-form-control {
    width: 100%;
    height: 36px;
    border-radius: 0;
    box-shadow: none;
    padding: 0px 0px 0px 10px;
    border: 0px;
    border-right: 2px solid var(--black) !important;
}

#footer-search button {
    color: var(--black);
    background-color: var(--lime) !important;
    border: none;
    border-radius: 0;
    padding: 0px 15px;
}



/* lg footer */
#s-lib-footer-public {
    margin-top: 15px;
    background-color: var(--gray);
    border-top: 0;
}

@media (max-width: 767px) {
    .footer-risd .footerlinks {
        flex-direction: column;
    }
    
    .footer-risd .risd-seal {
        margin-bottom: 12px;
    }
    
    .s-lib-side-borders {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}


@media (max-width: 576px) { 
    
    /* Mobile Hours */
    th.s-lc-w-head {
        display: flex;
        flex-direction:column;
    }
    .s-lc-w-next {
        float: none;
        position: relative;
        margin-bottom: 8px !important;
        order: 2;
    }
    
    .s-lc-w-previous {
        float: none;
        position: relative;
        left: 0;
        margin-bottom: 8px !important;
        order: 1;
    }
    .s-lc-w-head > span {
        width: 100%;
        order: 0;
        margin-bottom: 8px;
    }
    .s-lc-w-today-view-all {
        text-align: center;
    }
}

.s-lib-header.container,
#s-lg-guide-main,
#s-lg-guide-tabs-title-bar,
#s-lg-tabs-container {
    margin-bottom: 0;
    margin-top: 0;
}

.s-lib-header h1#s-lg-guide-name,
h1#s-lib-public-header-title {
    font-family: var(--font-secondary);
    font-weight: 100;
    font-size: 36px !important;
    color: var(--guide-title);
    padding: 0;
}

#s-lg-guide-header-info {
    margin: 20px 0px;
}

.s-lib-box-content {
    padding: 12px 8px;
}

.s-lib-box { 
    box-shadow: none;
    border: none !important;
}

.s-lib-public-side-header h2 {
    color: var(--black);
    font-size: 20px;
}

/* modify sub-Pages side nav tabs */
.s-lg-tabs-side .s-lg-subtab-ul {
    margin-left: 20px;
}

.s-lg-tabs-side .s-lg-subtab-ul > li {
    margin-right: 0 !important;
}

.s-lg-tabs-side .s-lg-subtab-ul > li > a {
    border-left: 2px solid var(--black) !important;
}

.s-lg-subtab-ul,
.nav-stacked>li+li {
    margin-top: 6px !important;
}


/* modify look of box-level side navigation */
.s-lg-tabs-side .s-lg-boxnav .list-group-item {
    border-radius: 0;
    background-color: var(--white);
    border-color: var(--subtab-border);
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item:hover,
.s-lg-tabs-side .s-lg-boxnav .list-group-item:focus {
    background-color: var(--tab-color);
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item a {
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
}

/* tabbed box */

.s-lib-box-content .nav-tabs>li {
    border: 1px solid var(--dark-gray);
    background-color: var(--gray);
    margin: 2px 5px 0px 0px;
    border-bottom: none;
}

.s-lib-box-content .nav-tabs>li>a{
    border-radius: 0px;
}


/* Box headers */

h2.s-lib-box-title {
    background-color: var(--white) !important;
    background-image: none;
    text-transform: uppercase !important;
    border-bottom: 2px solid var(--black) !important;
    letter-spacing: .5px;
    font-size: 20px !important;
    font-family: var(--font-primary) !important;
}

/* Guide search */

#s-lg-guide-search-form input {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

input#s-lg-guide-search-terms {
    border-bottom: 1px solid var(--black);
    outline: 0;
    padding-left: 10px;
}

.input-group-btn button.btn {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0 !important;
    border: 0;
    margin-left: 16px !important;
}

/* ensure floating boxes have padding */
.s-lib-floating-box {
    padding: 10px;
}

.s-lib-main {
    padding-top: 25px;
}

/* tab spacing for top-nav only */
#s-lg-guide-tabs .nav-tabs>li {
    margin: 0px 6px 6px 0px;
}

/* tab borders */
#s-lg-guide-tabs .nav-tabs>li>a,
#s-lg-guide-tabs .nav-pills>li>a {
    border: 1px solid var(--tab-borders);
}
#s-lg-guide-tabs .nav-pills>li>a {
    border-left: 2px solid var(--black);
}

.nav-tabs>li>a {
    margin-right: 0 !important;
}

#s-lg-er-content .nav-tabs li a {
    color: var(--blue);
}

a.s-lg-tab-top-link.pull-left {
    margin-right: 0px !important;
}

#s-lg-public-skiplink {
    display: none;
}

.popover {
    font-family: var(--font-primary);
    font-weight: 100;
}

.popover-title {
    font-size: 16px;
}

.s-ui-helptip {
    color: var(--black);
}

.panel-heading > a {
    color: var(--black);
}

#s-lg-guide-description {
    font-size: 14px;
}

/* un-bold various things - looks bad in RISD sans */
.panel-heading .bold,
.s-lg-small-bold,
.s-lg-gtitle .bold,
#s-lib-bc-list li,
.s-lg-bold a, 
#s-lg-guide-header-tags a,
#s-lg-guide-tabs .nav-pills > li > a,
#s-lg-guide-tabs .nav-tabs > li > a,
a.s-lg-tab-top-link {
    font-weight: 100 !important;
}

#s-lib-footer-login-link a, 
#s-lib-footer-support-link a {
    color: var(--link);
    
}

/* Make E-Reserves titles bold */
li.s-lg-er-item>a {
    font-family: var(--font-primary);
    font-weight: 700;
}

/* adjustments to tab dropdown menu */

#s-lg-tabs-container .nav .dropdown-toggle .caret {
    border-top-color: var(--black);
    padding-bottom: 5px;
}

#s-lg-tabs-container .nav .dropdown-toggle .caret:hover,
#s-lg-tabs-container .nav .dropdown-toggle .caret:focus {
    padding-bottom: 5px;
}

#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop {
    padding: 4px 10px 4px 8px;
}

#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop:hover,
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop:focus {
    padding: 4px 10px 4px 8px;
}

.s-lg-tab-drop:hover > .caret,
.s-lg-tab-drop:focus > .caret,
li.active > .s-lg-tab-drop > .caret {
    border-top-color: var(--white) !important;
}


/*--BUTTONS--*/

.risd-btn {
    box-shadow: -2px 2px var(--blue);
}

.btn,
button,
a.button,
.btn-info,
.s-lib-profile-email .label-info {
    cursor: pointer;
    border-radius: 0;
    border: 2px solid var(--blue);
    background-color: transparent;
    background-image: none;
    color: var(--blue);
    font-weight: 100;
    text-decoration: none;
    transition-property: color, transparent;
    transition-duration: .25s;
    transition-timing-function: ease-out;
   /* margin: 5px 5px 0px 0px; */
}

.btn-primary {
    background-color: transparent !important;
}

.widget-button {
margin: 0px;
}

.btn-link {
border: transparent !important;
}

a.button:active, button:active,
a.button:focus, button:focus,
a.button:hover, button:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn:active, .btn:hover, .btn:focus,
.s-lib-profile-email .label-info:focus,
.s-lib-profile-email .label-info:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color: var(--white);
    background-color: var(--blue) !important;
    border-color: var(--blue);
    background-image: none;
}

/* all guides index page */

.nav-pills>li.active>button,
.nav-pills>li.active>button:focus,
.nav-pills>li.active>button:hover {
    color: #fff;
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 0;
}

.nav .s-lg-index-nav-btn>button,
#s-lg-az-index .btn-link {
    color: var(--blue);
}

.nav .s-lg-index-nav-btn>button:hover {
    border-radius: 0;
}

/* search widgets (impacts custom search boxes across guides)*/
div.search-widget {
    width: 100%;
    display: flex;
}
.widget-input {
    flex: 1 1 0%;
    margin-right: 5px;
    font-size: 14px;
    padding-left: 5px;
}

fieldset.catalog-radio {
    margin: 5px 0px;
}

.catalog-radio label{
    margin-right: 1em;
    font-weight: normal;
    font-size: 14px;
}

.catalog-radio input {
    margin: 0px 4px 0px 0px;
}