/* STYLES FOR HOMEPAGE AND WEBSITE GROUP */

:root {
    --banner-color: #2454FF; /* change the big box behind search widget & featured image */
}

/*---------------------------------HOMEPAGE----------------------------------*/

h1.search-title {
    color: var(--white);
    font-size: 80px;
    font-family: var(--font-accent);
    font-weight: 100;
    margin-top: 0;
}

h2.h2-homepage {
    margin-bottom: 20px;
}

body {
    font-size: 14px;
}


/* Boxes */

.homepage-gray-box {
    background-color: var(--gray);
    padding: 15px 30px;
}

.homepage-blue-box {
    background-color: var(--banner-color);
    padding: 60px 0;
    margin-bottom: 30px;
}

.homepage-blue-box .container {
    margin: 0 auto;
}

.homepage-blue-box .col-md-4 {
    float: right;    
}

.layout-2x4 {
    display: flex;
    flex: 1 1 calc(100% - 20px);
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.layout-2x4 .homepage-gray-box {
    width: calc(50% - 10px);
}

.homepage-gray-box a {
    color: var(--black);
    font-size: 16px;
}

.homepage-gray-box p {
    color: var(--black);
    font-size: 14px;
}

.homepage-gray-box a:hover {
    color: var(--blue);
    text-decoration: none;
}

.layout-2x4 a {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--blue);
    margin-bottom: 10px;
}

/* Homepage hours ----- please look at these, I combined 2 different sections here */

.s-lc-time,
.s-lc-timetxt {
    font-size: 14px;
}

button.s-lc-w-btn, .s-lc-w-today-view-all a {
    justify-content: space-between;
    padding: 8px 24px;;
    border: 2px solid var(--blue);
    border-radius: 0;
    background-color: transparent;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.s-lc-w-btn {
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ccc;
    color: #333;
    background-color: var(--white);
}

button.s-lc-w-btn:hover, .s-lc-w-today-view-all a:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.s-lc-w-today-view-all {
    display: flex;
    justify-content: center;
}

/* .s-lc-w-today, 
.s-lc-w-department */
.s-lc-w-name, 
.s-lc-w-time {
    padding: 20px 0 10px 0;
    /*    padding-left: 0 !important; */
}

td.s-lc-w-name {
    width: auto;
}

.s-lc-w-head {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.s-lc-w-head > span {
    font-size: 16px;
    width: 30%;
    display: block;
    margin: 0 auto;
    font-weight: normal;
}

span.s-lc-w-head-pre,
.s-lc-w-location > td {
    display: none;
}

tr.s-lc-w-times {
    border-bottom: 2px solid var(--black);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 0px;
}

tr.s-lc-w-times.s-lc-w-location {
    margin-bottom: 0 !important;
}

.s-lc-w-time {
    text-align: right;
}

.s-lc-w-today-view-all {
    margin: 30px 0px 10px 0px;
}

.s-lc-w-next {
    float: none;
    position: absolute;
    right: 0;
}
.s-lc-w-next {
    float: right;
}

.s-lc-w-previous {
    float: none;
    position: absolute;
    left: 0;
}
.s-lc-w-previous {
    float: left;
}

.s-lc-w-location td {
    font-weight: bold;
}

.s-lc-w-department .s-lc-w-name {
    padding-left: 20px;
}

.s-lc-w-today-view-link {
    text-decoration: none;
}

.s-lc-w-today {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.s-lc-w-today td,
.s-lc-w-today th {
    padding: 8px 5px;
}

.s-lc-w-loading {
    margin-top: 80px;
    text-align: center;
}

.s-lc-w-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* tabbed triple SEARCH THE COLLECTIONS box */


.search-tabs {
    background-color: var(--banner-color);
    margin: 0;
}

.tab-buttons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tab-btn {
    flex: 1;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--blue);
    border: 2px solid var(--white);
    border-radius: 0;
    color: var(--white);
}

.tab-btn.active {
    background-color: var(--white) !important;
    border: 2px solid var(--white);
    color: var(--blue);
}

.search-tabs .tab-content {
    display: none;
}

.search-tabs .tab-content.active {
    display: block;
}

div.search-box {
    background-color: var(--white);
    display: flex;
    margin-bottom: 10px;
}
div .search-radio {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
}

.search-radio label {
    font-weight: normal;
    font-size: 14px;
    margin: 0px 15px 0px 0px;
}

.search-radio input {
    accent-color: var(--pink);
    transform: scale(1.2);
}

.search-tabs .tab-content input[type="text"] {
    flex: 1;
    border: 0;
    font-family: var(--font-secondary);
    color: var(--blue);
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px;
}

.search-tabs .tab-content button[type="submit"] {
    cursor: pointer;
    padding: 10px 15px;
    background: var(--blue);
    color: var(--white);
    border: none;
    margin: 4px;
    border-radius: 0;
    cursor: pointer;
}

.search-tabs .tab-content button i {
    font-size: 20px;
}

.search-radio .float-after {
    margin-right: auto;
}

.search-radio>a {
    color: var(--white);
    text-decoration: underline;
}

#discovery-input .search-radio input {
    margin-right: 3px;
}

.search-reset {
    border: none;
    color: var(--dark-gray);
}

.search-reset:hover,
.search-reset:active,
.search-reset:focus {
    color: var(--black);
    background-color: var(--white) !important;
}

.search-info {
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    min-height: 2.2em;
    color: var(--white);
    /* for after banner comes down
        color: var(--black);
    background-color: var(--lime); */
}

@media (max-width: 992px) {
    .search-info {
        margin-bottom: 30px;
    }

    .homepage-blue-box .col-md-4 {
        float: none;
        justify-items: center;
    }

    .col-md {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 576px) { 
    h1.search-title {
        font-size: 48px;
    }
    
    #catalog-input,
    #discovery-input,
    #dc-input {
        font-size: 16px;
    }
    
    .layout-2x4 {
        margin-bottom: 20px;
    }
    
    .layout-2x4 .homepage-gray-box {
        width: 100%;
        margin-bottom: 0;
    }
    
    .layout-2x4 a {
        margin-bottom: 16px;
    }
    
    #libcal-widget {
        padding: 10px;
    }
    
    table.s-lc-w-today {
        padding: 10px 0 10px 0 !important;
    }
    
    .s-lc-w-head > span {
        margin-top: 40px;
        width: 100%;
    }
}

.alert-ribbon {
    background-color: var(--blue);
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-primary);
    color: var(--white);
}

.alert-ribbon a {
    color: var(--white);
    text-decoration: 1px solid underline;
}

/* ---------------- featured image widget (pulling from LG) -------------- */

.featured-image h2.s-lib-box-title,
.featured-link h2.s-lib-box-title {
    display: none;
}

.featured-image .s-lib-box-content,
.featured-link .s-lib-box-content {
    padding: 0;
    background-color: transparent;
    max-height: 375px;
    overflow: hidden;
}

.featured-image img {
    max-width: 100%;
    max-height: 375px;
}

.featured-image .s-lib-box-content > div,
.featured-link .s-lib-box-content > div {
    background-color: var(--banner-color);
}

.featured-link p {
    color: var(--white);
}

.featured-link a {
    color: var(--white);
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

.featured-link a:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.featured-link a:after {
    content: '>';
    margin-left: 5px;
}

/* ------------------- gray Explore boxes pulling from LG ----------------------*/

.homepage-gray-box .s-lib-box {
    margin-bottom: 0;
    background-color: transparent !important;
}

.homepage-gray-box h2.s-lib-box-title {
    display: none;
}

.homepage-gray-box .s-lib-box-content {
    padding: 0;
}

/* --------------------- gray box search --------------------- */

div#site-search {
    padding: 30px 20px;
}

#site-search input.s-lg-form-control {
    border-radius: 0;
    border: 2px solid var(--blue);
    box-shadow: none;
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
}


#site-search .btn {
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 8px 20px;
}

#site-search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.s-lg-widget-search {
    width: 100% !important;
}


/*---------------------------------STYLE OVERRIDES FOR WEBSITE GROUP GUIDES----------------------------------*/


#s-lib-bc,
#s-lg-guide-header-search,
#s-lg-guide-header-attributes {
    display: none;
}

h1#s-lg-guide-name {
    color: var(--blue) !important;
}

/* OVERRIDE TAB & BOX SETTINGS */
h2.s-lib-box-title {
    color: var(--black);
    font-size: 26px !important;
    font-family: var(--font-secondary) !important;
    text-transform: revert !important;
    border-bottom: 2px solid black !important;
    margin-bottom: 10px !important;
}

.s-lib-box, .s-lib-box-title {
    border: none !important;
    background-color: var(--white) !important;
    box-shadow: none !important;
}
